$font_family : sans-serif;

%for_headings {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

%for_form_wrappers{
  max-width: 700px;
  margin: 4rem auto;
  text-align: center;
}
