.inputWrapper {
  margin: 0;
  padding: 0;
  width: 48%;
  position: relative;
}


.input {
  width: 100%;
  background-color: white;
  color : rgb(151, 148, 148);
  margin: 10px 0;
  padding: 20px 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1.5px solid transparent;
}

.errStyle {
  border: 1.5px solid red;
}