.joinAsButtons {
  margin-top: 30px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  border: 1px solid white;
  text-align: start;
  padding: 20px 20px;

  margin-bottom: 30px;
  text-transform: capitalize;
}

.textWrapper {
  margin-left: 20px; 
}

